<!DOCTYPE html>
<html>
  <head>
    <title>GrabbinGood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" 
    rel="stylesheet">
     <%= favicon_link_tag asset_path('logo.png') %>
     
    <meta name="description" content="_" />
    <meta name="title" property="og:title" content="GrabbinGood" />
    <meta property="og:type" content="_" />
    <meta name="image" property="og:image" content="https://media.giphy.com/media/pbCHLIa8tjHpE0V6ww/giphy.gif" />
    <meta name="description" property="og:description" content="gg" /><meta name="author" content="Christopher Lee" />

    <script type="text/javascript">
    window.iexAPIKey = "<%= Rails.application.credentials.iex[:api_key] %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
